= render partial: 'groups/side'
.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group グループ名
      %ul.main-header__left-box__member-list
        %li.main-header__left-box__member-list-member<>
        menber
  = link_to 'Edit', root_path, class: 'main-header__edit-btn'
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker リラックマ
        %p.message__upper-info__date 2019.04.01
      .message__text こんにちは。
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: "new__message", placeholder: 'type a message'
      .input-box
        = f.label :image, class: "input-box__image"
          = fa_icon 'picture-o', class: 'idon'
          = f.file_field :image, class: 'hidden'
      =f.submit 'send', class: "submit-btn"
